.cart-wrapper{
    display: flex;
    justify-content: space-around
}

.total{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 20vh;
}