@import"../../../styles.scss";

.cart-wrapper{
    @include flexCenter ($direction:column);
    justify-content: space-evenly;
}

.movie-wrapper{
    @include moviesWrapper;
    @include flexCenter ($direction:row);
}

.movie-container{
@include movieContainer;

   h3{
        font-size: $fs-body;
        @include desktopsOnly{
        font-size: $fs-title;
    }    
   }
    img{
        max-width:80%;
        max-height: 80%;
        display: block;
        margin: 1.5rem 0 1.5rem 0;
    }
    p{
        font-size: $fs-body;
        @include desktopsOnly{
            font-size: $fs-subtitle;
        }      
    }


}

.total{
    @include flexCenter ($direction:column);
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    color:$white;

    h3{
        font-size: $fs-title;
    }
    p{
        font-size: $fs-title;
        margin: 2rem;
    }

    button{
        margin-bottom: 4rem;
    }
}

.emptyCart{
    text-align: center;
    color: white;
    font-size: $fs-subtitle;
    height: 100vh;
    @include desktopsOnly{
        font-size: $fs-heading;
    }   
}
