<div class="top-container"></div>
<div *ngIf="cartItems.length === 0" class="emptyCart">
    <h1>Oopsie, your cart is empty.</h1>
  </div>

<div class="cart-wrapper" *ngIf="cartItems.length>0">
<div class="movie-wrapper" >
<div class="movie-container" *ngFor="let c of cartItems; let i = index">
    <h3>{{c.name}}</h3>
    <img [src]="c.imageUrl" alt="Movie poster"/>
    <p>{{c.price}} $ </p>
    <button class="button-small" (click)="removeCartItem(i)">Remove</button>
</div>
</div>
<div class="total">
    <h3>Total price</h3>
    <p>{{totalSum}} $</p>
    <button type="submit" (click)="handlePayment()" class="button-big" ><a routerLink="/checkout" routerLinkActive="active">Checkout and pay</a></button>
</div>
</div>

<!-- <p>{{handleSimilarCartItems()|json}}</p> -->