@import"../../../styles.scss";

.footer-container{
    padding-top:130px;

    @include desktopsOnly{
        padding-top:130px;
    }

    .footer{
    @include flexCenter ($direction: column);
    position: absolute;
    bottom: 0;
    background-color: #5c5b5be8;
    color: black;
    width: 100vw;
    padding: 1rem 0 1rem 0;
    font-size: 1rem;

    @include desktopsOnly{
        padding: 1rem 0 1rem 0;
        font-size: 1.5rem;
    }   

    li{
        width: 50%;
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: .5rem 0 0.5rem 0;
        color: $white;
    }
    
    i{
      font-size: 1rem;
      color: $signature;
      margin-right: 2rem;
    
        @include desktopsOnly{
        font-size: 2rem;
        }
    }
    }
}


