<nav >
    <div class="menu">
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn">
        <div class="hamburger">
          <div class="segment"></div>
          <div class="segment"></div>
          <div class="segment"></div>
        </div>
      </label>
      <ul class="navbar">
        <li><a routerLink="/" routerLinkActive="active" ><i class="fas fa-film"></i></a></li>
        <li><a routerLink="/myCart" routerLinkActive="active"><i class="fas fa-shopping-cart"></i></a></li>
      </ul>
    </div>
    </nav>