@import"../../../styles.scss";

  .menu{
    @include flexCenter($direction: row);
    justify-content: space-between;
    background-color: #5c5b5be8;
    height: 20vh;
    color: white;
    font-size: 1.5rem;

    .brand-name{
        padding: 2rem;
    }
    .icons{
            @include flexCenter($direction: row);
            align-items: center;
            list-style: none;

            li{
              padding: 1.5rem;
            }

            a{
                text-decoration: none;
                &:hover{
                  background-color: $signature;
                  font-size: 3rem;
                }
                i{
                  color:white;
                  font-size: 3rem;
                }
              }
          }

    @include desktopsOnly{
        padding:4rem;
        margin-bottom: 5rem;
    }
      }
    


