
/*small devices, such as mobile screens*/
@media only screen and (max-width: 600px) {
    .menu{
    height: 10vh;

    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: 2;
        height: 50vh;
        width: 100vw;
        position: absolute;
        transition: .6s ease-in-out;
        background-color: #5c5b5be8;
        top: -100vh;
        list-style: none;
        padding: 2rem 0 2rem 0;
    
        li{
            font-size: 2rem;
        }
    
        a{
            font-size: 2rem;
            color: black;
            text-decoration: none;

            &:hover{
                background-color: #eb790fd2;
            }
        }
    }

    .hamburger {
        z-index: 200;
        width: 4rem;
        height: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0.4rem;
        border-radius: 0.6rem;
    
        .segment {
          width: 100%;
          background: black;
          height: 0.5rem;
          border-radius: 0.2rem;
          box-sizing: border-box;
          transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
          border: 0.1rem solid black;
        }
      }
    
      .menu-icon {
        z-index: 100;
        cursor: pointer;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 0 0 1rem;
      }
    
      .menu-btn:checked ~ .navbar {
       top: 0;
       left: 0;
       
      }
      .menu-btn:checked ~ .menu-icon .hamburger {
        justify-content: center;
      }
      .menu-btn:checked ~ .menu-icon .hamburger .segment:nth-child(1) {
        transform: translate(0, 0.5rem) rotate(-45deg);
        transition: transform 400ms ease-in-out;
      }
      .menu-btn:checked ~ .menu-icon .hamburger .segment:nth-child(2) {
        opacity: 0;
        transition: opacity 400ms ease-in-out;
      }
      .menu-btn:checked ~ .menu-icon .hamburger .segment:nth-child(3) {
        transform: translate(0, -0.5rem) rotate(45deg);
        transition: transform 400ms ease-in-out;
      }

}
.menu-btn {
    display: none;
  }    
}


/* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}


/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 600px) {
    .navbar {
        background-color: #5c5b5be8;;
        top: 0;
        display: flex;
        justify-content: flex-end;
        max-height: 10rem;
        padding: 3rem 4rem;
        border-radius: 0;
        list-style: none;
        margin-bottom: 5rem;
    
        a {
          display: block;
          padding: 1rem;
          font-size: 2rem;
          color: black;
          text-decoration: none;
          &:hover{
            background-color: #eb790fd2;
        }
        }
      } 

    .menu-icon {
        display: none;
  
      }
      .menu-btn {
        display: none;
      } 
}
