
@media only screen and (max-width: 600px) {
.top-container{
    height: 10vh;
}
}

@mixin moviesWrapper{
 @include flex-row-wrap;
    justify-content: space-around;
    align-items: center;

}
   
@mixin movieContainer{
    width: 30vw;
    padding: 1rem;
    margin-top: 3rem;
    
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   text-align: center;

   color: $white;

}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin flex-row-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin desktopsOnly {
    @media screen and (min-width: 1024px) {
        @content;
    }
}