<nav >
  <div class="menu">
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
      <div class="hamburger">
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
      </div>
    </label>
    </div>
    <ul class="navbar">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions] ="{exact:true}"> Home</a></li>
      <li><a routerLink="/movies" routerLinkActive="active" >Movies</a></li>
      <li><a routerLink="/myCart" routerLinkActive="active">Shopping cart</a></li>
    </ul>
  </nav>
  
<router-outlet></router-outlet>