@import"../../../styles.scss";

.message-container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h2{
        font-size: 2rem;
        text-align: center;
        width: 80%;

        a{
            text-decoration: none;
            color: #eb790fd2;
    
        &:visited{
            color: #eb790fd2;
        }
        }
    }
}
