<div class="wrapper">
<div class="top-container"></div>
<div class="thank-you-message">
    <h2>Thank you for shopping with us!</h2>
    <p>Please confirm your payment and fill out the form with you details, so that we can handle your order:</p>
</div>

<div class="order-details">
    <h2>Order details</h2>
        <div *ngFor="let c of cartItems">
            <h4>{{c.name}}</h4>
            <p>{{c.price}} $ </p>
        </div>
    <h3>Total price</h3>
    <p> {{totalSum}} $</p>
</div>

<form [formGroup]="customerForm" (ngSubmit)="handleFormSubmit()" class="customer-form">
    <input type="text" placeholder="Firstname" formControlName="name">
    <input type="text" placeholder="Phone number" formControlName="phone">
    <input type="text" placeholder="Email" formControlName="email" >
    <select name="dropdown" formControlName="paymentMethod">
        <option value="paymentMethod" selected>Payment method*</option>
        <option value="Visa">Visa</option>
        <option value="MasterCard">MasterCard</option>
        <option value="AmericanExpress">American Express</option>
    </select>
     <button type="submit" [disabled] = "!customerForm.valid" class="button-small"> Confirm payment</button>
</form>

</div>