@import"../../../styles.scss";

.wrapper{
    @include flexCenter($direction: column);
    width: 100vw;
    justify-content: space-between;
    color: white;
    p{
    font-size: $fs-subtitle;
    color: $signature;
    }
    @include desktopsOnly{
    font-size: $fs-title;
    }
}

.thank-you-message{
    width: 90%;
    text-align: center;
    margin:4rem 0 4rem 0;
    h2{
        font-size: $fs-heading;
    }
}

.order-details{
    width: 50%;
    @include flexCenter($direction: column);
    align-items: flex-start;
    justify-content: space-between;
    margin:4rem 0 4rem 0;
    height: 50vh; 
    h2{
        font-size: $fs-title;
    }
    h4{
        font-size: $fs-subtitle;
    }
    p{
        font-size: $fs-body;
    }
    div{
        @include flexCenter($direction: column);
        align-items: flex-start;
        justify-content: space-between;
    }
}


.customer-form{
    @include flexCenter($direction: column);
    width: 80%;
    background: rgba(0, 0, 0, 0.1); 
    margin:4rem 0 4rem 0;

    @include desktopsOnly{
        width: 50%;
    }

    input, select{
        width: 90%;
        border: none;
        border-bottom: 1.5px solid $white;
        padding: 2rem;
        margin-bottom: 2rem; 
        background: transparent;
        color: $white; 
        font-size: $fs-body;
        @include desktopsOnly{
        font-size: $fs-title;
        }
    }

    input::placeholder {
        color: $white;
        font-size: $fs-body;
        @include desktopsOnly{
        font-size: $fs-title;
        }
        }

    option:focus {
        border: none;
        }

    option {
        background: $black; 
        border: none;
        }

    
}
